docroot/WEB-INF/wsdl/SendMessage2ElcomImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://elcom.gt.vn" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://elcom.gt.vn" xmlns:intf="http://elcom.gt.vn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://elcom.gt.vn" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendAndGetMessage">
    <complexType>
     <sequence>
      <element name="requestMessage" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendAndGetMessageResponse">
    <complexType>
     <sequence>
      <element name="sendAndGetMessageReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendAndGetMessageRequest">

      <wsdl:part element="impl:sendAndGetMessage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendAndGetMessageResponse">

      <wsdl:part element="impl:sendAndGetMessageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SendMessage2ElcomImpl">

      <wsdl:operation name="sendAndGetMessage">

         <wsdl:input message="impl:sendAndGetMessageRequest" name="sendAndGetMessageRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendAndGetMessageResponse" name="sendAndGetMessageResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SendMessage2ElcomImplSoapBinding" type="impl:SendMessage2ElcomImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendAndGetMessage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendAndGetMessageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendAndGetMessageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SendMessage2ElcomImplService">

      <wsdl:port binding="impl:SendMessage2ElcomImplSoapBinding" name="SendMessage2ElcomImpl">

   	<wsdlsoap:address location="http://localhost:8080/TichHopGiaoThong-portlet//services/SendMessage2ElcomImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
